body {
            background: #fcfcfa;
        }
        .stroke {
            fill: none;
            stroke: #000;
            stroke-width: 3px;
        }
        .fill {
            fill: #ABBCC9;
        }
        
        .land {
            fill: #222;
        }
        .boundary {
            fill: none;
            stroke: #000;
            stroke-width: .5px;
        }
        
        
        .city_bubble {
            fill: #74ACDF;
            fill-opacity: .5;
            stroke: #000;
            stroke-width: .5px;

        }
        #map {

            background-color: #F6F1E9;
            border: 0.3px solid #ccc;
        }
        .background {
            fill: none;
            pointer-events: all;
        }
        
        .colombia {
            fill: #f00;
            stroke: #000;
            stroke-width: 0.5px;
        }
        #countries,
        #states {
            /*fill-opacity: 0.0;*/
            fill: #F6F1E9;
            stroke: #FFFCFC;
            stroke-linejoin: round;
            stroke-linecap: round;
        }
        #countries .active,
        #states .active {
            fill: #89a;
        }
        #cities {
            stroke-width: 1;
        }
        .city {
            fill: #345;
            stroke: #fff;
        }
        pre.prettyprint {
            border: 1px solid #ccc;
            margin-bottom: 0;
            padding: 9.5px;
        }
